/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit].btn {
  /* background-color: #04AA6D; */
  background-color: #500570;
  border: none;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  font-weight: 700;
}


/* Add a background color and some padding around the form */
/* .container {
  border-radius: 5px;
  background-color: #7213fe;
  padding: 20px;
} */
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  /* background-color: #45a049; */
  /* background-color: #BC13FE; */
  background-color: #6f079c;
  transform: scale(1.05);
}

/* Centrar y limitar el tamaño del formulario */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  /* ocupa casi toda la pantalla */
}

form {
  margin: 30px;
  background-color: #1a1a2e;

  padding: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
 background-color: #292949;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 15px 15px 15px rgba(255, 0, 234, 0.493);
  width: 100%;
  max-width: 320px;
  /* el formulario no se pasa de este ancho */
}

/* Ajustar inputs */
form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0 20px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.mapa{
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid rgba(255, 0, 234, 0.493);
    height: 100%;
    position: relative;
}

.mapa:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(255, 0, 234, 0.493);
}

/* Botones */
form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #7213fe;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

form button:hover {
  background-color: #b989ff;
}

label {
  color: #ffff;
}

/* Estilo general del select */
#country {
  background-color: #f0f0f0;
  /* Fondo por defecto */
  color: #333;
  /* Color de texto por defecto */
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Estilo cuando se selecciona una opción */
#country option:checked {
  background-color: #7213fe;
  /* Fondo de la opción seleccionada */
  color: white;
  /* Color del texto de la opción seleccionada */
}

/* Para el select en sí, cuando tiene un valor seleccionado */
#country:focus {
  outline: none;
  border-color: #7213fe;
}