/* Centrar formulario */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* Caja del formulario */
.register-container form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px; /* tamaño máximo */
}

/* Inputs */
.register-container input[type="text"],
.register-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Botones */
.register-container button {
  width: 48%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

/* Cancelar */
.cancelbtn {
   background-color: #343a40;
  color: #fff;
}

/* Sign up */
.signupbtn {
   background-color: #343a40;
  color: #fff;
  float: right;
}

.cancelbtn:hover {
  background-color: #c82333;
}

.signupbtn:hover {
  background-color: #218838;
}
