#news-container article.news-item p.meta {
  color:  #ffff !important;
}
/* encabezado de la publicacion */
#news-container article.news-item a.news-link{
color: #b989ff;
}
/* leer mas */
#news-container article.news-item a.read-more{
color: #BC13FE;
}
/* parrafo */
main.container header.mb-4 p.text-muted{
  color: #ffff !important;
}