/* Centrar formulario */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin-top: 60px;
}



/* Caja del formulario */
.register-container form {
  background-color: #292949;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 15px 15px 15px rgba(255, 0, 234, 0.493);
  width: 100%;
  max-width: 320px;
  
  
  /* tamaño máximo */
}

/* Inputs */
.register-container input[type="text"],
.register-container input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 6px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
}

/* Botones */
.register-container button {
  width: 45%;
  padding: 8px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

/* Cancelar */
.cancelbtn {
  background-color: #500570;
  color: #fff;
  transition: all 0.3s ease;
}

/* Sign up */
.signupbtn {
  background-color: #500570;
  color: #fff;
  float: right;
  transition: all 0.3s ease;
}

.cancelbtn:hover {
  background-color: #6f079c;
  transform: scale(1.05);
}

.signupbtn:hover {
  background-color: #6f079c;
  transform: scale(1.05);
}