body {
    background-color: #0f0f1a;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 100px;
}



.card {
    background-color: #1a1a2e;
    border: 1px solid #2d2d4d;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-title {
    color: #4cc9f0;
    font-weight: bold;
}

.price {
    color: #f72585;
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-primary {
    background-color: #4361ee;
    border: none;
}

.btn-primary:hover {
    background-color: #293c94;
}

.product-header {
    background: linear-gradient(90deg, #4361ee, #f72585);
    color: white;
    padding: 3rem 0;
    margin-bottom: 2rem;
    text-align: center;
}





.btn-gamer {
    background-color: var(--primary-color);
    border: none;
    color: white;
    transition: all 0.3s ease;
}

.btn-gamer:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../img/imgHero.webp') no-repeat center center;
    background-size: cover;
    padding: 7rem 0;
    margin-bottom: 3rem;
    text-align: center;

}

.cart {
    font-weight: 7000;
    text-decoration: none;
    padding: .5rem .75rem;
    border-radius: 999px
}

.cart:hover,
.cart.active {
    background-color: #391984;
    color: white !important;
}





