<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="bi bi-controller"></i>Level-Up</h5>
                <p>Tu tienda de confianza para productos gaming de la más alta calidad.</p>
            </div>

            <!-- Enlaces rapidos -->
            <div class="col-md-4">
                <h5>Enlaces rápidos</h5>
                <ul class="footer-links">
                    <li><a href="../html/index.html" class="none">Home</a></li>
                    <li><a href="../html/productos.html" class="none">Productos</a></li>
                    <li><a href="../html/sobre-nosotros.html" class="none">Sobre Nosotros</a></li>
                    <li><a href="../html/blogs.html" class="none">Contacto</a></li>
                </ul>
            </div>

            <!-- Contacto -->
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="footer-links">
                    <li><a href="https://maps.app.goo.gl/LA3bMz4KLmiopUho9" class="bi bi-geo-alt-fill"> Av.
                            Paicaví 3280,
                            Concepción,Chile</a></li>
                    <li><a href="mailto:999leveluptienda@gmail.com" class="bi bi-envelope-at-fill">
                            999leveluptienda@gmail.com</a>
                    </li>
                    <li><a href="tel:+56912345678" class="bi bi-telephone-fill"> +56 9 1234 5678</a></li>
                    <li><a href="https://www.instagram.com/999leveluptienda" class="bi bi-instagram">
                            Instagram</a>
                    </li>
                </ul>
            </div>

            <hr class="mt-4">
            <div class="text-center">
                <small>&copy; 2025 Level-Up. Todos los derechos reservados</small>
                <ul class="list-inline mt-2">
                    <li class="list-inline-item"><a href="../html/terminos-y-privacidad.html"
                            class="text-white me-3"><i>Privacidad</i></a></li>
                    <li class="list-inline-item"><a href="../html/terminos-y-condiciones.html"
                            class="text-white me-3"><i>Terminos</i></a></li>
            </div>
        </div>
    </div>
</footer>